* {
  margin: 0;
  padding: 0;
}
.video {
  width: 320px;
  height: 180px;
  border-radius: 20px;
}
.video_play {
  text-align:center;
}
.button {
  padding: 10px;
  text-align: center;
}
.button.none {
  display: none;
}
.click {
  text-decoration: none;
  border: 2px solid black;
  border-radius: 20px;
  background: yellow;
  font-size: 35px;
  padding: 10px;
  color: white;
}